extend layout

block content
    section.page-header
        div.container
            div.row
                div.col-md-12.col-sm-12.col-xs-12
                    h4 Поиск юридических лиц
    section.domain.ptb30
        div.container
            div.col-md-12
                div.input-group.input-group-lg
                        input#tbxOkvedExtraSearch.form-control(type="text", placeholder="Введите область деятельности...")
                        span.input-group-btn              
                            button#btnOkvedExtraSearch.btn.btn-my.btn-green.btn-effect.btn-responsive.btn-my-lg Найти  
            </div>
        </div>
    </section>
    section.domain-page.checkout.pt20
        div.container
            div.col-md-8.domain-results
                div.table-responsive
                    table.table.cart
                        thead
                            tr
                                th Наименование   
                                th Отрасль                   
                                th Регион
                                th Руководитель
                                th Телефон
                        tbody
                            each company in pageData.companies
                                tr.cart-item
                                    td
                                        a(href="/company/" + company.id)=company.name
                                    td
                                        span=company.area
                                    td
                                        span=company.region
                                    td
                                        span=company.head
                                    td
                                        span=company.phone
            aside.col-md-4
                div.domain-sidebar.shadow-hover.mb40
                    div.extensions
                        h4 Деятельность
                        ul
                            each okved, index in pageData.okveds
                                li
                                    input(type="checkbox", name=okved.title, value=okved.id, id="okved" + index)  
                                    label(for="okved" + index)=okved.title
                div.domain-sidebar.shadow-hover.mb40
                    div.extensions
                        h4 Регионы
                        ul
                            each region, index in pageData.regions
                                li
                                    input(type="checkbox", name=region.title, value=region.id, id="region" + index)  
                                    label(for="region" + index)=region.title

script(src="js/data.js")
script.
    DataPage.init("#{pageData.nextCompaniesUrl}");